@import url('https://fonts.googleapis.com/css?family=Black+Ops+One');

span {
    text-align: center;
}

html { height: 100%; }
body {
    min-height:100%; 
    position:relative;
    display: grid;
    background: black;
}

/* -------------------------------------------------------------------nav -----*/
.heading {
    background-color: black;
    z-index: 2;
    top: 0;
    position: fixed;
    width: 100%;
    background-size: auto;
    height: 8vh;
}
.heading-mobile {
    background-color: black;
    top: 0;
    width: 100%;
    background-size: auto;
    height: 8vh;
}
.empty {
    height: 8.5vh;
}

.social {
    font-size: 5vh;
    float: left;
    
}

.fa {
 color: #d2d2d2;
 font-size: 4vh;
}

.fa:hover {
    color: red;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}


.img-responsive.picture {
    width: 100%;
    background-color: black;
    height: 70vh;
}
.navright {
     float: right;
}

.navtext li a {
    font-family: 'Black Ops One', cursive;
    font-size: 3vh;
    color: #d2d2d2;
}

.navtext li a:hover {
    color: #524848;
    background-color: d2d2d2;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}
 .pages {
     float: right;
 }
 
 .navdoor {
    color: aliceblue;
    float: left;
    font-size: 4vh;
    margin-top: 1.3vh;
    font-family: 'Black Ops One' , monospace;
 }
.nav-space {
    height: 5vh;
}


/* --------------------------------------------------------------------Welcome box */



#Welcoming {
    font-family: 'Black Ops One', cursive;
    font-size: 15vw;
    color: white;
    text-align: center;
    /*margin-top: 7%;*/
    
}

#opening {
    color: #d2d2d2;
    font-size: 2vw;
}
/* --------------------------------------------------------------------/welcome box */


/* --------------------------------------------------------------------white/black panels ------ */
.white {
    background-color: #d2d2d2;
    height: 20vh;
    text-align: center;
}

.whitebox {
    font-family: 'Black Ops One', cursive;
    font-size: 15vw;
    color: black;
    text-align: center;
    /*margin-top: 13%;*/
    
}
    
.whitebox:hover {
    text-decoration: none;
    color: #394c5d;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}
.whitetext {
    top: 10%;
    float: inherit;
}
.black {
    background-color: black;
    height: 20vh;
    text-align: center;
}
.blackbox {
    font-family: 'Black Ops One', cursive;
    font-size: 15vw;
    color: white;
    text-align: center;
    /*margin-top: 13%;*/
}    
.blacktext {
    top: 10%;
    float: inherit;
}

.blackbox:hover {
    text-decoration: none;
    color: #4e5248;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}


/* ------------------------------------------------------------------------About Page---------- */

.band-profile {
    float: left;
    border-radius: 45%;
    height: 25vh;
    /*width: 100%;*/
    width: 200px;
    transform: translateY(80px);
}

.about-text {
    font-weight: 200;
    font-family: monospace;
    font-size: 2vh;
}

.about-head {
    margin-top: 10vh;
    color: white;
    font-family: monospace;
    font-weight: bold;
    font-size: 2vh;
}

/* --------------------------------------------------------------------white/black panels  for about page------ */
.white-about {
    background-color: #d2d2d2;
    height: 25vw;
    text-align: center;
    overflow-y: scroll;
    font-family: monospace;
}

.whitebox-about {
    font-family: 'Black Ops One', cursive;
    font-size: 15vw;
    color: black;
    text-align: center;
    /*margin-top: 13%;*/
    
}
.whitetext-about {
    top: 10%;
    float: inherit;
}
.black-about {
    background-color: black;
    height: 25vw;
    text-align: center;
    overflow-y: scroll;
    color: white;
    font-family: monospace;
}

.blackbox-about {
    font-family: 'Black Ops One', cursive;
    font-size: 15vw;
    color: white;
    text-align: center;
    /*margin-top: 13%;*/
}    
.blacktext {
    top: 10%;
    float: inherit;
}


/* ----------------------------------------------------------Video page ------------------------*/ 
.video-top {
    font-family: monospace; 
    text-align: center;
    font-size: 5vh;
    padding-top: 6vh;
    color: black;
    
}
.video-top-link {
    font-family: monospace; 
    text-align: center;
    font-size: 5vh;
    padding-top: 6vh;
    color: black;
    
}

.video-head {
    font-family: monospace;
    font-size: 3vw;
    margin-top: 10%;
    margin-left: 10%;
    color: #d2d2d2;
    
    
}

.videocolright {
    float: right;
}

.black-video {
    background-color: black;
    height: 30vh;
    
    text-align: center;
}

.white-video {
    background-color: #d2d2d2;
    height: 30vh;
    
    text-align: center;
}

.video {
    height: 100%;
    width: 100%;
}


/*-------------------------------------------------------Contact ------------------------------*/

.form-background {
    background-color: #d2d2d2;
}

.center-form {
    padding-bottom: 3vh;
}

.form-control {
    margin-top: 5vh;
    display: inline;
    font-size: 4vh;
    height: 6vh;
}

.address {
    color: white;
    font-size: medium;
    margin-top: 5%;
}

/*------------------------------------------library ------------*/



.covers {
    margin-left: 3vw;
    margin-top: 4vh;
    height: 30vh;
    max-width: 80%;
}

.covertable {
    overflow-y: scroll;
    height: 20vh;
}

.title {
    text-align: center;
    font-size: 200%;
}

.blacktitle { 
    background: black;
    color: white;
    font-family: monospace;
}

.list-table {
    font-size: 2vh;
    height: 24vw;
    overflow-y: scroll;
}

.whitetitle{ 
    background: #d2d2d2;
    color: black;
    font-family: monospace;
}

/* ---------------------------------------footer -------------*/

.footer { 
    left: 0 ; right: 0; bottom: 0;
    background: #d2d2d2;
     
}

.img-responsive-footer {
    display: inline;
    max-width: 100%;
    height: auto;
}

.white-footer {
    background-color: #d2d2d2;
    height: auto;
    
    text-align: center;
}

/* -------------------------------- Media ------------------------------ */

@media(min-width: 768px) {
    .header-mobile {
        height: 7vh;
        background: black;  }
} 
        /* medias for tabel users */ 
@media(min-width: 992px) { 
    .navtext li a {
        font-size: 2vh;
    }
    .navdoor {
        font-size: 2vh;
    }
    .heading {
        height: 6vh;
    }
}

@media(min-width: 1351px) {
    .navtext li a {
        font-size: 3vh;
    }
    .navdoor {
        font-size: 4vh;
    }
    .heading {
        height: 8vh;
    }
}
