@import url('https://fonts.googleapis.com/css?family=Black+Ops+One');

span {
    text-align: center;
}

/* -------------------------------------------------------------------nav -----*/
.heading {
    background-color: black;
    z-index: 2;
    top: 0;
    position: fixed;
    width: 100%;
    background-size: auto;
}
.empty {
    height: 8.5vh;
}

.social {
    font-size: 5vh;
    float: left;
    
}

.fa {
 color: #d2d2d2;
 font-size: 4vh;
}

.fa:hover {
    color: red;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}


.img-responsive.picture {
    width: 100%;
    padding-left: 40px;
    padding: 40px;
    background-color: black;
}

.navtext li a {
    font-family: 'Black Ops One', cursive;
    font-size: 4vh;
    color: #d2d2d2;
}

.navtext li a:hover {
    color: #524848;
    background-color: d2d2d2;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}
 .pages {
     float: right;
 }
 
 .navdoor {
    color: aliceblue;
    float: left;
    font-size: 4vh;
    margin-top: 1.3vh;
    font-family: 'Black Ops One' , monospace;
 }


/* --------------------------------------------------------------------Welcome box */



#Welcoming {
    font-family: 'Black Ops One', cursive;
    font-size: 15vw;
    color: white;
    text-align: center;
    /*margin-top: 7%;*/
    
}

#opening {
    color: #d2d2d2;
    font-size: 2vw;
}
/* --------------------------------------------------------------------/welcome box */


/* --------------------------------------------------------------------white/black panels ------ */
.white {
    background-color: #d2d2d2;
    height: 25vw;
    text-align: center;
}

.whitebox {
    font-family: 'Black Ops One', cursive;
    font-size: 15vw;
    color: black;
    text-align: center;
    /*margin-top: 13%;*/
    
}
    
.whitebox:hover {
    text-decoration: none;
    color: #394c5d;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}
.whitetext {
    top: 10%;
    float: inherit;
}
.black {
    background-color: black;
    height: 25vw;
    text-align: center;
}
.blackbox {
    font-family: 'Black Ops One', cursive;
    font-size: 15vw;
    color: white;
    text-align: center;
    /*margin-top: 13%;*/
}    
.blacktext {
    top: 10%;
    float: inherit;
}

.blackbox:hover {
    text-decoration: none;
    color: #4e5248;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

#video {
    margin-top: 5%;
}

/* ------------------------------------------------------------------------About Page---------- */

.band-profile {
    float: left;
    border-radius: 45%;
    height: 25vh;
    /*width: 100%;*/
    width: 200px;
    transform: translateY(80px);
}

.about-text {
    font-weight: 200;
    font-family: monospace;
    font-size: small;
}

.about-head {
    margin-top: 10vh;
    color: white;
    font-family: monospace;
    font-weight: bold;
    font-size: medium;
}

/* --------------------------------------------------------------------white/black panels  for about page------ */
.white-about {
    background-color: #d2d2d2;
    height: 25vw;
    text-align: center;
    overflow-y: scroll;
    font-family: monospace;
}

.whitebox-about {
    font-family: 'Black Ops One', cursive;
    font-size: 15vw;
    color: black;
    text-align: center;
    /*margin-top: 13%;*/
    
}
.whitetext-about {
    top: 10%;
    float: inherit;
}
.black-about {
    background-color: black;
    height: 25vw;
    text-align: center;
    overflow-y: scroll;
    color: white;
    font-family: monospace;
}

.blackbox-about {
    font-family: 'Black Ops One', cursive;
    font-size: 15vw;
    color: white;
    text-align: center;
    /*margin-top: 13%;*/
}    
.blacktext {
    top: 10%;
    float: inherit;
}


/* ----------------------------------------------------------Video page ------------------------*/ 

.video-head {
    font-family: monospace;
    font-size: 3vw;
    margin-top: 10%;
    margin-left: 10%;
    color: #d2d2d2;
    
    
}

.videocolright {
    float: right;
}

/*-------------------------------------------------------Contact ------------------------------*/

.form-background {
    background-color: #d2d2d2;
}

.center-form {
    margin-top: 10vh;
    padding-bottom: 3vh;
}

.form-control {
    margin-top: 5vh;
}

.address {
    color: white;
    font-size: medium;
    margin-top: 5%;
}

/*------------------------------------------library ------------*/



.covers {
    margin-left: 3vw;
    margin-top: 4vh;
    height: 30vh;
    max-width: 80%;
}

.covertable {
    overflow-y: scroll;
    height: 20vh;
}

.title {
    text-align: center;
    font-size: 200%;
}

.blacktitle { 
    background: black;
    color: white;
    font-family: monospace;
}

.list-table {
    font-size: 2vh;
    height: 24vw;
    overflow-y: scroll;
}

.container-fluid .whitetitle{ 
    background: #d2d2d2;
    color: black;
    font-family: monospace;
}